<!-- TOP OF CAROUSEL -->
<div class="fs-carousel-haut">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="carousel-fs-close-btn">&times;</button>
</div>
<!-- TOP OF CAROUSEL END -->

<div class="carousel slide carousel-content" id="carouselFullscreen">

  <div class="carousel-inner">
    <% antiques.each_with_index do |elem, i| %>
      <div class="fs-car-item carousel-item <%= "active" if i == 0 %>" id="fs-car-item-<%= i %>" data-id="<%= i %>">
        <% if elem.images.any? %>
          <%= image_tag elem.images.first.image_url(:show), alt: elem.title, class: "photo-fs-carousel" %>
        <% else %>
          <%= image_tag "no-photo.png", alt: "photo #{elem.title}", class: "photo-fs-carousel"  %>
        <% end %>
<!--         <div class="carousel-caption d-md-block">
          <h5><%#= elem.title %></h5>
          <p><%#= elem.description %></p>
        </div> -->
      </div>
    <% end %>
  </div>

  <!-- CAROUSEL CONTROLS -->
  <a class="carousel-control-prev carousel-control" href="#carouselFullscreen" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" id="left"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="carousel-control-next carousel-control" href="#carouselFullscreen" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" id="right"></span>
    <span class="sr-only">Suivant</span>
  </a>
  <!-- CAROUSEL CONTROLS END -->

</div>

<!-- BOTTOM OF CAROUSEL -->
<div class="fs-carousel-bas">
  <ol class="carousel-indicators">
    <% antiques.each_with_index do |elem, i| %>
      <% if elem.images.any? %>
        <div class="fs-carousel-indicators <%= "active" if i == 0 %>" data-slide-to="<%= i.to_s %>" data-target="#carouselFullscreen" style="background-image: url(<%= elem.images.first.image_url(:thumbnail) %>);"></div>
      <% else %>
        <div class="fs-carousel-indicators active" data-slide-to="<%= i.to_s %>" data-target="#carouselFullscreen" style="background-image: url(<%= asset_path('no-photo.png') %>);"></div>
      <% end %>
    <% end %>
  </ol>
</div>
<!-- BOTTOM OF CAROUSEL END -->



