<div class="fs-carousel-haut-bas">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="carousel-fs-close-btn">&times;</button>
</div>

<div id="carouselFullscreen" class="carousel slide">

  <div class="carousel-inner" id="carousel-fs-inner">
    <% @antiques.each_with_index do |i, ind| %>
      <% if ind == 0 %>

        <div class="fs-car-item carousel-item active" id="fs-car-item-<%= ind %>" data-id="<%= ind %>">
          <% if i.photo.attached? %>
            <div class="photo-fs-carousel" style="background-image: url('<%= url_for(i.photo) %>');" %>');"></div>
          <% else %>
            <div class="photo-fs-carousel" style="background-image: url('https://res.cloudinary.com/acanthisdev/image/upload/v1579715141/photo-coming-soon_tni2fi.jpg');"></div>
          <% end %>
          <div class="carousel-caption d-none d-md-block" id="fs-carousel-caption">
            <h5><%= i.title %></h5>
            <p><%= i.description %></p>
          </div>
        </div>

      <% else %>

        <div class="fs-car-item carousel-item" id="fs-car-item-<%= ind %>" data-id="<%= ind %>">
          <% if i.photo.attached? %>
            <div class="photo-fs-carousel" style="background-image: url('<%= url_for(i.photo) %>');" %>');"></div>
          <% else %>
            <div class="photo-fs-carousel" style="background-image: url('https://res.cloudinary.com/acanthisdev/image/upload/v1579715141/photo-coming-soon_tni2fi.jpg');"></div>
          <% end %>
          <div class="carousel-caption d-none d-md-block" id="fs-carousel-caption">
            <h5><%= i.title %></h5>
            <p><%= i.description %></p>
          </div><!-- -->
        </div>

      <% end %>
    <% end %>
  </div><!-- -->

  <!-- CAROUSEL CONTROLS -->
  <a class="carousel-control-prev" href="#carouselFullscreen" role="button" data-slide="prev" id="carousel-control-fs">
    <span class="carousel-control-prev-icon" aria-hidden="true" id="fs-carousel-nav left"></i></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="carousel-control-next" href="#carouselFullscreen" role="button" data-slide="next" id="carousel-control-fs">
    <span class="carousel-control-next-icon" aria-hidden="true" id="fs-carousel-nav right"></span>
    <span class="sr-only">Suivant</span>
  </a>
  <!-- CAROUSEL CONTROLS END -->

</div><!-- carouselFullscreen -->

<div class="fs-carousel-haut-bas">
  <ol class="carousel-indicators">
    <% @antiques.each_with_index do |elem, i| %>
      <% if i == 0 %>
        <% if elem.photo.attached? %>
          <div class="fs-carousel-indicators active" data-slide-to=<%= i.to_s %> data-target="#carouselFullscreen" style="background-image: url('<%= url_for(elem.photo) %>');"></div>
        <% else %>
          <div class="fs-carousel-indicators active" data-slide-to=<%= i.to_s %> data-target="#carouselFullscreen" style="background-image: url('https://res.cloudinary.com/acanthisdev/image/upload/v1579715141/photo-coming-soon_tni2fi.jpg');"></div>
        <% end %>
      <% else %>
        <% if elem.photo.attached? %>
          <div class="fs-carousel-indicators" data-slide-to=<%= i.to_s %> data-target="#carouselFullscreen" style="background-image: url('<%= url_for(elem.photo) %>');"></div>
        <% else %>
          <div class="fs-carousel-indicators" data-slide-to=<%= i.to_s %> data-target="#carouselFullscreen" style="background-image: url('https://res.cloudinary.com/acanthisdev/image/upload/v1579715141/photo-coming-soon_tni2fi.jpg');"></div>
        <% end %>
      <% end %>
    <% end %>
  </ol>
</div><!-- fs-carousel-bas -->
