<div class="fs-carousel-haut-bas">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="carousel-fs-close-btn">&times;</button>
</div>

<div id="carouselFullscreen" class="carousel slide">

  <div class="carousel-inner" id="carousel-fs-inner">
    <% antiques.each_with_index do |elem, i| %>
        <div class="fs-car-item carousel-item <%= "active" if i == 0 %>" id="fs-car-item-<%= i %>" data-id="<%= i %>">
          <% if elem.photo.attached? %>
            <%= cl_image_tag elem.photo.key, height: 1000, crop: :fill, alt: "photo #{elem.title}", class: "photo-fs-carousel" %>
          <% else %>
            <%= image_tag image_url('no-photo.png'), alt: "photo #{elem.title}", class: "photo-fs-carousel"  %>
          <% end %>
          <div class="carousel-caption d-none d-md-block" id="fs-carousel-caption">
            <h5><%= elem.title %></h5>
            <p><%= elem.description %></p>
          </div>
        </div>
    <% end %>
  </div>

  <!-- CAROUSEL CONTROLS -->
  <a class="carousel-control-prev" href="#carouselFullscreen" role="button" data-slide="prev" id="carousel-control-fs">
    <span class="carousel-control-prev-icon" aria-hidden="true" id="fs-carousel-nav left"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="carousel-control-next" href="#carouselFullscreen" role="button" data-slide="next" id="carousel-control-fs">
    <span class="carousel-control-next-icon" aria-hidden="true" id="fs-carousel-nav right"></span>
    <span class="sr-only">Suivant</span>
  </a>
  <!-- CAROUSEL CONTROLS END -->

</div>

<div class="fs-carousel-haut-bas">
  <ol class="carousel-indicators">
    <% antiques.each_with_index do |elem, i| %>
        <% if elem.photo.attached? %>
          <div class="fs-carousel-indicators <%= "active" if i == 0 %>" data-slide-to=<%= i.to_s %> data-target="#carouselFullscreen" style="background-image: url('http://res.cloudinary.com/acanthisdev/image/upload/c_fill,h_50,w_50/<%= elem.photo.key %>');"></div>
        <% else %>
          <div class="fs-carousel-indicators active" data-slide-to=<%= i.to_s %> data-target="#carouselFullscreen" style="background-image: url(<%= image_path('no-photo.png') %>);"></div>
        <% end %>

    <% end %>
  </ol>
</div>
