<% if user_signed_in? %>
  <div class="container">
    <%= simple_form_for(antique, remote: true) do |f| %>
      <%= f.input :title, label: "Nom", placeholder: "Nom" %>
      <%= f.input :description, as: :text, input_html: {:rows => 6}, label: "Description", placeholder: "Description" %>
      <%= f.association :category, as: :radio_buttons, checked: params[:category] %>
      <label class="btn btn-outline-info" style="width: 100%;">
        Changer de photo
        <span style="display:none;">
          <%= f.input :photo, as: :file, required: true, name: 'Photo' %>
        </span>
      </label>
      <hr>
      <div class="d-flex justify-content-center">
        <%= f.submit "OK", class: "ok-modal btn btn-outline-info" %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="container">
    <p>Vous n'avez pas accès à ces fonctions.</p>
  </div>
<% end %>
