<% if user_signed_in? %>
  <div class="container">
    <%= simple_form_for([category, antique], remote: true) do |f| %>
      <%= f.input :title, label: "Nom", placeholder: "Nom" %>
      <%= f.input :description, as: :text, input_html: {:rows => 6}, label: "Description", placeholder: "Description" %>
      <%#= f.association :category, as: :collection_select, selected: category, label: "Galerie" %>
      <label class="btn btn-outline-info" style="width: 100%;">
        Changer de photo
        <span style="display:none;">
          <%= f.input :photo, as: :file, required: true, name: 'Photo' %>
          <%#= f.input :photo, as: :file, name: 'Photo', input_html: { multiple: true } %>
          <%#= f.input :photo, as: :file, input_html: { class: 'hidden', id: 'photo-input', multiple: true}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
        </span>
      </label>
      <hr>
      <div class="d-flex justify-content-center">
        <%= f.submit "OK", class: "ok-modal btn btn-outline-info" %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="container">
    <p>Vous n'avez pas accès à ces fonctions.</p>
  </div>
<% end %>
