<% if user_signed_in? %>
  <div class="container new-antique-container">
    <%= form_for([@category, antique], remote: true) do |f| %>
      <%= f.text_field :title, placeholder: "Nom" %>
      <%= f.text_area :description, as: :text, input_html: {:rows => 6}, label: false, placeholder: "Description" %>
      <label class="btn btn-outline-info" style="width: 100%;">
        Ajouter une photo <em> (10.5 Mb max.)</em>
        <span style="display:none;">
        <%= f.fields_for :images do |ff| %>
          <%= ff.file_field :image, multiple: true, name: "images[]" %>
        <% end %>
        </span>
      </label>
      <hr>
      <div class="d-flex justify-content-center submit-new-element-container">
        <div class="fillnewelem"></div>
        <%= f.submit "OK", class: "ok-modal btn btn-outline-info submit-new-element" %>
        <div class="fillnewelem">
          <%= image_tag asset_path("loading.gif"), alt: "alttext", id: "loading-new-elem" %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="container">
    <p>Vous n'avez pas accès à ces fonctions.</p>
  </div>
<% end %>
