<% if user_signed_in? %>
  <div class="container new-antique-container">
    <%= simple_form_for(antique, remote: true) do |f| %>
      <%= f.input :title, label: false, placeholder: "Nom" %>
      <%= f.input :description, as: :text, input_html: {:rows => 6}, label: false, placeholder: "Description" %>
      <%= f.association :category, as: :radio_buttons, checked: params[:category] %>
      <%#= f.association :category, label: false, prompt: "Choisir la catégorie" %>
      <%#= f.collection_radio_buttons :category, [["Achat/Vente", "Achat/Vente"], ["Art Africain", "Art Africain"], ["Salon Dij'Antik 2017", "Salon Dij'Antik 2017"], ["Art Asiatique", "Art Asiatique"], ["Archéologie", "Archéologie"]], :last, :first %>
      <%#= select(:antique, :category, [["Achat/Vente", "Achat/Vente"], ["Art Africain", "Art Africain"], ["Salon Dij'Antik 2017", "Salon Dij'Antik 2017"], ["Art Asiatique", "Art Asiatique"], ["Archéologie", "Archéologie"]) %>
      <label class="btn btn-outline-info" style="width: 100%;">
        Ajouter une photo
        <span style="display:none;">
          <%= f.input :photo, as: :file, required: true, name: 'Photo' %>
        </span>
      </label>
      <hr>
      <div class="d-flex justify-content-center">
        <%= f.submit "OK", class: "ok-modal btn btn-outline-info" %>
        <%#= link_to "Retour", antiques_path, class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="container">
    <p>Vous n'avez pas accès à ces fonctions.</p>
  </div>
<% end %>
