<div class="loaded-content">
  <div class="loaded-images">
    <!-- Slider main container -->
    <div class="swiper-container loaded-swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <% if antique.images.any? %>
          <% antique.images.each do |image| %>
            <div class="swiper-slide">
              <%= image_tag image.image_url(width: 1200, height: 1200, crop: :fit), class: 'loaded-image-tag' %>
            </div>
          <% end %>
        <% elsif antique.photo.attached? %>
            <div class="swiper-slide">
              <%= cl_image_tag antique.photo.key, height: '1000', crop: :fill, class: 'loaded-image-tag' %>
            </div>
        <% else %>
          <div class="swiper-slide">
            <%= image_tag "no-photo.png", alt: "no-photo", class: 'loaded-image-tag' %>
          </div>
        <% end %>
      </div>
      <!-- need pagination -->
      <div class="swiper-pagination"></div>
      <!-- navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <div class="loaded-text">
    <div style="display: flex; justify-content: space-between;">
      <span style="width:10%"></span>
      <h3 style="width:80%"><%= antique.title %></h3>
      <span style="width:10%; display: flex; justify-content: flex-end;">
        <i id="closeShowModalBtn" style="position: relative; width: 40px; text-align: center; line-height: 2; cursor: pointer;" class="fas fa-times"></i>
      </span>
    </div>
    <hr>
    <div class="loaded-text-description">
      <%= simple_format antique.description %>
    </div>
  </div>
  <div class="loaded-links-container">
      <div>
        <%= link_to "Précédent", modal_path(antique: antique, nav: 'prev', category: category.title), remote: true, class: "loaded-links prev" %>
      </div>
      <% if user_signed_in? %>
        <div>
          <%= link_to "Modifier", edit_category_antique_path(antique.category.id, antique), class: "loaded-links" %>
          <%= link_to "Supprimer", antique, method: :delete, class: "loaded-links" %>
        </div>
      <% end %>
      <div>
        <%= link_to "Suivant", modal_path(antique: antique, nav: 'next', category: category.title), remote: true, class: "loaded-links next" %>
      </div>
  </div>
</div>













