<% if antique.photo.attached? %>
  <button type="button" class="close close-show" data-dismiss="modal" aria-label="Close" id="close-show-<%= antique.id %>">
    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
  </button>
  <div class="photo-show" style="background-image: url('<%= url_for(antique.photo) %>');"></div>
  <%#= cl_image_tag antique.photo.key, alt: "photo #{antique.title}", height: 800, width: 800, crop: :thumb, class: "photo-show" %>
<% else %>
  <button type="button" class="close close-show" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
  </button>
  <div class="photo-show" style="background-image: url('https://res.cloudinary.com/acanthisdev/image/upload/v1579715141/photo-coming-soon_tni2fi.jpg');"></div>
  <%#= image_tag "no-photo.png", alt: antique.title, class: "photo-show" %>
<% end %>

<h2 class="title-show"><%= antique.title %></h2>

<p class="description-show"><%= antique.description %></p>

<% if user_signed_in? %>
  <div class="d-flex justify-content-center">
    <%= link_to "Modifier", "#", class: "modify-btn new-antique bouton-show", data: { toggle: "modal", target: "#editAntiqueModal#{antique.id}", set: antique.id } %>
    <%#= link_to "Modifier", edit_antique_path(antique), class: "bouton-show" %>
    <%= link_to "Supprimer", antique_path(antique), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer l'objet \"#{antique.title}\"?" }, class: "bouton-show" %>
  <% end %>
</div>

