<div class="container index-container justify-content-center">

  <div class="d-flex justify-content-between">
    <div class="gauche">

    </div>
    <h1 id="titre-index"><%= @antiques.count %> Objets</h1>
    <div class="droite">
      <% if user_signed_in? %>
        <%#= link_to "Nouvel objet", new_antique_path, class: "new-antique" %>
        <%= link_to "Nouvel objet", "#", class: "new-antique", data: { toggle: "modal", target: "#newAntiqueModal" } %>
      <% end %>
    </div>
  </div>

  <hr>
  <%= select_tag :per_page, options_for_select([12, 16, 20, 24, 48],params[:per_page].to_i),
   :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
   <%#= link_to "24", current_path, :params[:per_pagee] => "24"  %>
<%#= will_paginate @collection, renderer: BootstrapPagination::Rails %>
  <%= will_paginate @antiquespaginate, previous_label: "<", next_label: ">" %>
  <!-- GRID -->
  <div class="antique-grid d-flex flex-wrap">
    <% @antiquespaginate.each_with_index do |antique, i| %>
      <%#= link_to antique_path(antique), class: "a-card" do %>
      <%= link_to "#", remote: true, id: "show-link-#{i}", class: "a-card", data: { toggle: "modal", target: "#showAntiqueModal#{antique.id}" } do %>

        <div class="card index-card">
          <% if antique.photo.attached? %>
            <%= cl_image_tag antique.photo.key, alt: antique.title, class: "card-img-top" %>
          <% else %>
            <%= image_tag "no-photo.png", alt: antique.title, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <p class="card-text"><%= antique.title %></p>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>
  <!-- GRID END -->
  <%= will_paginate @antiquespaginate, previous_label: "<", next_label: ">" %>

  <hr style="margin-bottom: 30px;">

</div>

<% if user_signed_in? %>
<!-- Modal New Antique-->
<div class="modal fade" id="newAntiqueModal" tabindex="-1" role="dialog" aria-labelledby="newAntiqueModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nouvel objet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="new-antique-modal-body">
        <%= render 'antiques/new', antique: @antique %>
      </div>
    </div>
  </div>
</div>
<!-- Modal New Antique END-->

<!-- Modal Edit Antique-->
<% @antiques.each do |antique| %>
  <div class="modal fade" id="editAntiqueModal<%= antique.id %>" tabindex="-1" role="dialog" aria-labelledby="editAntiqueModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modifier <%= antique.title %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="edit-antique-modal-body">
          <%= render 'antiques/edit', antique: antique %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- Modal Edit Antique END-->


<% end %>

<!-- Modal Show Antique-->
<% @antiques.each_with_index do |antique, i| %>
  <div class="modal fade bd-example-modal-lg" id="showAntiqueModal<%= antique.id %>" data-index=<%= i %> tabindex="-1" role="dialog" aria-labelledby="showAntiqueModalTitle" aria-hidden="true">
    <div class="go-left" data-index=<%= i %> data-id= <%= antique.id %> >Gauche</div>
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <!-- <div class="modal-header"> -->
            <!-- <h5 class="modal-title" id="exampleModalLongTitle">Nouvel objet</h5> -->
  <!--           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          <!-- </div> -->
          <div class="show-antique-modal-body">
            <%= render 'antiques/show', antique: antique %>
          </div>
        </div>
      </div>
    <div class="go-right" data-index=<%= i %> data-id= <%= antique.id %> >Droite</div>
  </div>
<% end %>
<!-- Modal Show Antique END-->


