<div class="container index-container">

  <h1><%= @antiques.count %> Antiquités</h1>
  <% if user_signed_in? %>
    <%= link_to "Nouvel objet", new_antique_path, class: "btn btn-dark" %>
  <% end %>

  <div class="antique-grid">
    <% @antiques.each do |antique| %>
      <%= link_to antique_path(antique) do %>

        <div class="card index-card">
          <%= cl_image_tag antique.photo.key, alt: antique.title, class: "card-img-top" %>
          <div class="card-body">
            <p class="card-text"><%= antique.title %></p>
          </div>
        </div>

      <% end %>
    <% end %>

  </div>
</div>
