<div class="gallery-header">
  <div class="un">
  </div>
  <div class="deux">
    <h1 id="titre-index"><%= @category.title.upcase %></h1>
      <p><%= "#{@antiques.count} objet#{"s" if @antiques.count > 1}" %></p>
  </div>
  <div class="trois">
    <% if user_signed_in? %>
      <%= link_to "Nouvel objet", new_category_antique_path, id: "new-antique-btn"%>
    <% end %>
  </div>
</div>

<hr id="index-hr">

<div class="cards-grid-container">
  <div class="cards-grid">
    <% @antiques.each_with_index do |antique, i| %>
      <%= link_to modal_path(antique, category: @category.title), class: 'antique-card-link', data: { toggle: 'modal', target: '#antiqueShowModal'}, remote: true do %>
        <div class="card-product">
          <div>
            <% if antique.images.any? %>
              <%= image_tag antique.images.first.image_url, alt: antique.title %>
            <% elsif antique.photo.attached? %>
              <%= cl_image_tag antique.photo.key, height: '120', crop: :fill, alt: antique.title %>
            <% else %>
              <%= image_tag "no-photo.png", alt: "photo #{antique.title}" %>
            <% end %>
          </div>
          <div class="card-product-infos">
            <h2><%= antique.title %></h2>
            <%= simple_format antique.description %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<hr id="index-hr">

<!-- Modal -->
<div class="modal fade" id="antiqueShowModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content modal-content-fullscreen" id="antique-show-modal">
    </div>
  </div>
</div>
