<div class="container index-container justify-content-center">

  <h1 id="titre-index"><%= @antiques.count %> Antiquités</h1>
  <% if user_signed_in? %>
    <%= link_to "Nouvel objet", new_antique_path, class: "btn btn-dark" %>
  <% end %>
  <hr>
  <div class="antique-grid d-flex flex-wrap">
    <% @antiques.each do |antique| %>
      <%= link_to antique_path(antique), class: "a-card" do %>

        <div class="card index-card">
          <% if antique.photo.attached? %>
            <%= cl_image_tag antique.photo.key, alt: antique.title, class: "card-img-top" %>
          <% else %>
            <%= image_tag "no-photo.png", alt: antique.title, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <p class="card-text"><%= antique.title %></p>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>
  <hr style="margin-bottom: 30px;">
</div>
