<div class="container">
  <% if @antique.photo.attached? %>
    <%= cl_image_tag @antique.photo.key, alt: "photo #{@antique.title}", height: 800, width: 800, crop: :thumb %>
  <% else %>
    <%= image_tag "no-photo.png", alt: @antique.title, class: "card-img-top" %>
  <% end %>
  <h2><%= @antique.title %></h2>
  <p><%= @antique.description %></p>
  <% if user_signed_in? %>
    <%= link_to "Modifier", edit_antique_path %>
    <%= link_to "Supprimer", antique_path(@antique), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer l'objet \"#{@antique.title}\"?" }  %>
  <% end %>
</div>
