<%= cl_image_tag @antique.photo.key, height: 120, width: 120, crop: :thumb, alt: "photo #{@antique.title}" %>
<h2><%= @antique.title %></h2>
<p><%= @antique.description %></p>
<%= link_to "Modifier", edit_antique_path %>
<%= link_to "Supprimer", antique_path(@antique), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer l'objet \"#{@antique.title}\"?" }  %>
