<div class="navbar-container">
  <%= link_to root_path, class: "navbar-brand", id: "logo-navbar" do %>
    <div class="d-flex" id="logo-div">
    </div>
  <% end %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "#", class: "nav-link phone-menu", role: "button", data: {toggle: "collapse", target: "#navbarSupportedContent"}, aria: {controls: "navbarSupportedContent", expanded: "false", label: "Toggle navigation"} do %>
      <p>Menu</p>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <div class="dropdown">
            <%= link_to "Acanthis", root_path, class: "nav-link dropdown-toggle", role: "button", id: "dropdownMenuLinkInfos", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"} %>
            <div class="dropdown-content dropdown-menu">
                <%= link_to "Accueil", root_path, class: "dropdown-item info nav-link acanthis-menu" %>
                <%= link_to "Salon Dij'Antik", salons_path, class: "dropdown-item info nav-link acanthis-menu" %>
                <%= link_to "SNCAO-GA", sncao_path, class: "dropdown-item info nav-link acanthis-menu" %>
            </div>
          </div>
        </li>

        <li class="nav-item active">
          <div class="dropdown">
            <%= link_to "Galeries", category_antiques_path(Category.first), class: "nav-link dropdown-toggle", role: "button", id: "dropdownPhotoMenuLink", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"} %>
            <div class="dropdown-content dropdown-menu">
              <% Category.all.order("created_at ASC").each do |cat| %>
                <div class="dropdown-flex">
                  <%= link_to "#{cat.title} - (#{cat.antiques.length})", category_antiques_path(cat), class: "dropdown-item photo-cat" %>
                  <% if user_signed_in? %>
                    <%= link_to "#", class: "card-links", data: { toggle: "modal", target: "#editCategoryModal#{cat.id}", set: cat.id }, class: 'dropdown-item photo-cat deux' do %>
                      <i class="far fa-edit"></i>
                    <% end %>
                    <%= link_to category_path(cat), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer la catégorie \"#{cat.title}\", ainsi que tous les éléments liés à celle-ci?" }, class: 'dropdown-item photo-cat deux' do %>
                      <i class="far fa-trash-alt"></i>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
              <% if user_signed_in? %>
                <%= link_to "Nouvelle Galerie", "#", class: "nav-link dropdown-item photo-cat new-link-in-dropdown", data: { toggle: "modal", target: "#newCategoryModal" }, id: "category-navbar" %>
              <% end %>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <%= link_to "Contact", "#", class: "nav-link", data: { toggle: "modal", target: "#newContactModal" }, id: "contact-navbar" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link", id: "log-out-link" %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</div>
<!-- Modal Contact -->
<div class="modal fade" id="newContactModal" tabindex="-1" role="dialog" aria-labelledby="newContactModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Contact par e-mail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="new-contact-modal-body">
        <%= render 'contacts/new', contact: Contact.new %>
      </div>
    </div>
  </div>
</div>
<!-- Modal Contact END-->

<% if user_signed_in? %>

  <!-- Modal New Category -->
  <div class="modal fade" id="newCategoryModal" tabindex="-1" role="dialog" aria-labelledby="newCategoryModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Création d'une nouvelle galerie</h5>
          <button id="new-cat-modal-close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="new-category-modal-body">
          <%= render 'categories/new', category: Category.new %>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Edit Category -->
  <% Category.all.order("created_at ASC").each do |cat| %>
    <div class="modal fade" id="editCategoryModal<%= cat.id %>" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modifier <%= cat.title %></h5>
            <button id="edit-cat-modal-close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="edit-category-modal-body">
            <%= render 'categories/edit', category: cat%>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<% end %>
