<div class="banner-home">
  <div class="container banner-container">
    <h5>Dij'Antik & SNCAO à Dijon</h5>
    <h1>Acanthis Antiquités</h1>
    <h2>Jérôme Henry à Dijon</h2>
  </div>
</div>
<div class="container content">
  <hr>
  <p class="jtt">Installée depuis <strong>1841</strong> dans le quartier, la Maison Henry-Jacotot se diversifie et se lance dans l'antiquité en 1975 au
      10 bis de la rue d'Auxonne, sous l'enseigne de L'Escabelle.
      Devenu <strong>Acanthis</strong> en 1994, l'histoire dijonnaise de la famille Henry continue et Jérôme vous propose meubles et objets
      anciens pour toutes les bourses avec sincérité, passion et bonne humeur, à l'angle de la rue d'Auxonne et de la
      rue Coupée de Longvic.</p>
      <hr>
      <h3>Achat / Vente</h3>
  <p>Achat comptant et vente d’objets d'antiquité.</p>
  <p>Acanthis est un magasin d'antiquités situé dans le quartier Wilson.</p>
  <p class="jtt">Jérôme Henry se charge de l'achat de vos objets et meubles anciens avec passion et vous reçoit pour répondre
      au mieux à vos attentes. En prenant rendez-vous au <strong>03 80 66 31 57</strong>,
      vous vous verrez proposer un déplacement gratuit afin d'évaluer ce que vous désirez vendre et obtenir une estimation.
      Tout objet présent dans le magasin ayant été acheté comptant, vous pouvez contacter Jérôme pour tous types d'estimation.</p>
  <hr>


<!-- CAROUSEL -->

<div class="carousel-home-container">
  <div class="swiper-container">
    <div class="swiper-wrapper">

      <% @antiques.each_with_index do |antique, i| %>
        <% if i == 0 %>
          <div class="swiper-slide">
            <div class="swiper-slide-inside">
              <% if antique.photo.attached? %>
                <%= link_to antiques_path(category: antique.category) do %>
                  <%= cl_image_tag antique.photo.key, alt: "photo #{antique.title}", class: "img-swiper-multi" %>
                <% end %>
              <% else %>
                <%= link_to antiques_path(category: antique.category) do %>
                  <%= image_tag "no-photo.png", alt: "photo #{antique.title}", class: "img-swiper-multi" %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="swiper-slide">
            <div class="swiper-slide-inside">
              <% if antique.photo.attached? %>
                <%= link_to antiques_path(category: antique.category) do %>
                  <%= cl_image_tag antique.photo.key, alt: "photo #{antique.title}", class: "img-swiper-multi" %>
                <% end %>
              <% else %>
                <%= link_to antiques_path(category: antique.category) do %>
                  <%= image_tag "no-photo.png", alt: "photo #{antique.title}", class: "img-swiper-multi" %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
    <!-- Add Pagination -->
    <!-- <div class="swiper-pagination"></div> -->
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-nav"></div>
    <div class="swiper-button-prev swiper-nav"></div>
  </div>
</div>

<!-- CAROUSEL END -->

  <hr>

    <!--The div element for the map -->
    <div id="map">
    </div>

  <hr>

</div>
