<div class="banner-home">
  <div class="container banner-container">
    <h5>Dij'Antik & SNCAO à Dijon</h5>
    <h1>Acanthis Antiquités</h1>
    <h2>Jérôme Henry à Dijon</h2>
  </div>
</div>
<div class="container content card-style">
  <hr>
  <p class="jtt">Installée depuis <strong>1841</strong> dans le quartier, la Maison Henry-Jacotot se diversifie et se lance dans l'antiquité en 1975 au
      10 bis de la rue d'Auxonne, sous l'enseigne de L'Escabelle.
      Devenu <strong>Acanthis</strong> en 1994, l'histoire dijonnaise de la famille Henry continue et Jérôme vous propose meubles et objets
      anciens pour toutes les bourses avec sincérité, passion et bonne humeur, à l'angle de la rue d'Auxonne et de la
      rue Coupée de Longvic.</p>
      <hr>
      <h3>Achat / Vente</h3>
  <p>Achat comptant et vente d’objets d'antiquité.</p>
  <p>Acanthis est un magasin d'antiquités situé dans le quartier Wilson.</p>
  <p class="jtt">Jérôme Henry se charge de l'achat de vos objets et meubles anciens avec passion et vous reçoit pour répondre
      au mieux à vos attentes. En prenant rendez-vous au <strong>03 80 66 31 57</strong>,
      vous vous verrez proposer un déplacement gratuit afin d'évaluer ce que vous désirez vendre et obtenir une estimation.
      Tout objet présent dans le magasin ayant été acheté comptant, vous pouvez contacter Jérôme pour tous types d'estimation.</p>
  <hr>

<!-- CAROUSEL -->
  <div class="top-content">
      <div class="container-fluid">
          <div id="carousel-example" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner row w-100 mx-auto" role="listbox">

                <% @antiques.each_with_index do |antique, i| %>
                  <% if i == 0 %>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                      <% if antique.photo.attached? %>
                        <%= link_to antiques_path do %>
                          <%= cl_image_tag antique.photo.key, alt: "photo #{antique.title}", class: "img-fluid mx-auto d-block" %>
                        <% end %>
                      <% else %>
                        <%= link_to antiques_path do %>
                          <%= image_tag "no-photo.png", alt: "photo #{antique.title}", class: "img-fluid mx-auto d-block" %>
                        <% end %>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                      <% if antique.photo.attached? %>
                        <%= link_to antiques_path do %>
                          <%= cl_image_tag antique.photo.key, alt: "photo #{antique.title}", class: "img-fluid mx-auto d-block" %>
                        <% end %>
                      <% else %>
                        <%= link_to antiques_path do %>
                          <%= image_tag "no-photo.png", alt: "photo #{antique.title}", class: "img-fluid mx-auto d-block" %>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>

              </div>
              <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
  </div>
<!-- CAROUSEL END -->
  <hr>

    <!--The div element for the map -->
    <div id="map">
    </div>
      <style>
         /* Set the size of the div element that contains the map */
        #map {
          height: 200px;  /* The height is 400 pixels */
          width: 100%;  /* The width is the width of the web page */
          background-color: grey;
         }
      </style>

    <script>

  </script>
      <!--Load the API from the specified URL
      * The async attribute allows the browser to render the page while the API loads
      * The key parameter will contain your own API key (which is not needed for this tutorial)
      * The callback parameter executes the initMap() function
    -->
  <!-- <script async defer src=<%#="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap"%> type="text/javascript"></script> -->

  <hr>

</div>
